/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .lesson {
      width: 100%;
      margin-bottom: 50px;
    }
    
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }
    .card {
    
      width: 40%;
      margin: 10px 20px;
      
    }
  
    .location-wrapper{
      padding-left: 100px;
      padding-right: 100px;
    }
    .map-logo{
      top: 2890px;
      right: 230px;
      width: 25%;
    }
    .maps iframe{
      width:200%;
  
    }
  }
  
  
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {
    .lesson {
      width: 100%;
    }
    .card {
      width: 60%;
      margin-bottom: 50px;
      margin-left: 80px;
    }

    .location-wrapper{
      padding-left: 50px;
      padding-right: 50px;
    }
    .map-logo{
      top: 3950px;
      width: 35%;
    }
    .maps iframe{
      width:161%;

    }
    
    footer {
      text-align: center;
    }
    
    .btn {
      width: 100%;
    }
    
    .facebook {
      margin-bottom: 10px;
    }
    
    .top-wrapper {
      text-align: left;
    }
    
    /* Tambahkan CSS untuk header-right */
    .header-right{
      display:none;
    }

    .menu-icon{
      display:block;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
  }